<?xml version="1.0" encoding="UTF-8"?>
<configuration status="off" monitorInterval="1800">

	<properties>
		<!-- 日志文件的输出目录 -->
		<property name="LOG_HOME">/Users/xuxiaofei/log</property>
		<!-- 服务名 -->
		<property name="SERVICE_NAME">WLINK</property>
		<!-- 默认消息格式 -->
		<property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} [%5p] ${SERVICE_NAME} [%t] - %m%n</property>
		<!-- SYSLOG消息格式 -->
		<property name="SYSLOG_PATTERN">Java[%X{pid}]:OTH ${SERVICE_NAME} %c %F:%L "%m"%n</property>
	</properties>

	<appenders>
		<!-- 定义控制台输出 -->
		<console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</console>

		<!-- 文件日志 -->
		<RollingRandomAccessFile name="FileLog"
			fileName="${LOG_HOME}/${SERVICE_NAME}.log" filePattern="${LOG_HOME}/${SERVICE_NAME}.%d{yyyy-MM-dd-HH}.log">
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingRandomAccessFile>
		
		<!-- SYSLOG -->
    <Syslog name="SysLog" host="localhost" port="514" protocol="UDP" facility="LOCAL1" newLine="true">
    	<PatternLayout pattern="${SYSLOG_PATTERN}" />
    </Syslog>
	</appenders>

	<loggers>
		<asyncRoot level="INFO">
			<appender-ref ref="Console" />
		</asyncRoot>
	</loggers>
</configuration>