<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
             http://www.springframework.org/schema/context 
             http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- 会话管理器 -->
	<bean id="sessionManager" class="com.iauto.wlink.core.session.DefaultSessionManager">
		<property name="sessionListeners">
			<list>
				<!-- 设置会话监听器 -->
				<ref bean="messageRouter" />
			</list>
		</property>
	</bean>

	<!-- 会话签名处理器 -->
	<bean id="sessionSignHandler" class="com.iauto.wlink.core.session.HMacSessionSignHandler">
		<constructor-arg value="${server.hmac.sha256.key}" />
	</bean>

	<!-- 认证消息处理器 -->
	<bean id="authMessageHandler" class="com.iauto.wlink.core.message.handler.AuthMessageHandler">
		<property name="sessionSignHandler" ref="sessionSignHandler" />
		<property name="authProvider" ref="authProvider" />
		<property name="sessionManager" ref="sessionManager" />
	</bean>

	<!-- 终端路由消息处理器 -->
	<bean id="terminalMessageHandler"
		class="com.iauto.wlink.core.message.handler.TerminalMessageHandler">
		<property name="terminalMessageRouter" ref="messageRouter" />
	</bean>

	<!-- 集成QPID实现消息的路由 -->
	<!-- <bean id="messageRouter" class="com.iauto.wlink.core.integration.qpid.QpidMessageRouter" -->
	<!-- init-method="init"> -->
	<!-- <constructor-arg value="${server.qpid.url}" /> -->
	<!-- <constructor-arg value="${server.message.router.nthread}" /> -->
	<!-- </bean> -->
	
	<bean id="consumer"
		class="com.iauto.wlink.core.integration.rabbitmq.TerminalMessageConsumer">
		<property name="sessionManager" ref="sessionManager" />
	</bean>

	<bean id="messageRouter"
		class="com.iauto.wlink.core.integration.rabbitmq.RabbitMQMessageRouter"
		init-method="init">
		<property name="consumer" ref="consumer" />
		<property name="sessionManager" ref="sessionManager" />
	</bean>

	<!-- 默认的终端消息处理器 -->
	<bean id="messageListener" class="com.iauto.wlink.core.message.DefaultMessageListener">
		<constructor-arg ref="messageEventHandler" />
	</bean>

	<!-- 消息处理器链 -->
	<bean id="messageHandlerChain" class="com.iauto.wlink.core.message.MessageHandlerChain">
		<constructor-arg>
			<list>
				<ref bean="authMessageHandler" />
				<ref bean="terminalMessageHandler" />
			</list>
		</constructor-arg>
	</bean>

	<bean id="messageEventHandler" class="com.iauto.wlink.core.message.MessageEventHandler">
		<constructor-arg ref="messageHandlerChain" />
	</bean>

</beans>