<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
             http://www.springframework.org/schema/aop
             http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
             http://www.springframework.org/schema/context 
             http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<!-- 配置文件 -->
	<context:property-placeholder location="classpath:application.properties" />
	
	<import resource="applicationContext_auth.xml"/>

	<bean id="bootstrap" class="com.iauto.wlink.server.DefaultServerBootstrap">
	
		<constructor-arg value="${server.netty.boss.nthread}" />
		<constructor-arg value="${server.netty.worker.nthread}" />
	
		<property name="channelInitializer" ref="channelInitializer" />
		<property name="messageRouter" ref="messageRouter" />
	</bean>

	<!-- 通道初始化器 -->
	<bean id="channelInitializer"
		class="com.iauto.wlink.server.channel.DefaultChannelInitializer">
		<property name="authHandler" ref="authHandler" />
	</bean>

	<!-- 集成QPID实现消息的路由 -->
	<bean id="messageRouter" class="com.iauto.wlink.core.integration.qpid.QpidMessageRouter">
		<constructor-arg value="${server.qpid.url}" />
		<constructor-arg value="${server.message.router.nthread}" />
		<property name="messageReceivedHandler" ref="messageHandler" />
	</bean>
	
	<bean id="messageHandler" class="com.iauto.wlink.server.message.NettyTerminalMessageHandler">
		<property name="messageCodec" ref="messageCodec" />
	</bean>
	
	<bean id="messageCodec" class="com.iauto.wlink.core.message.codec.ProtoTerminalMessageCodec" />

	<!-- 终端认证处理器 -->
	<bean id="authHandler"
		class="com.iauto.wlink.server.channel.handler.AuthenticationHandler">
		<constructor-arg ref="authenticationProvider" />
		<constructor-arg ref="sessionIdGenerator" />
		
		<property name="signHandler" ref="sessionSignatureHandler" />
		<property name="sessionMessageCodec" ref="sessionMessageCodec" />
		<property name="authMessageCodec" ref="authMessageCodec" />
		<property name="messageRouter" ref="messageRouter" />
	</bean>

	<!-- 提供对保留账号的终端认证 -->
	<bean id="authenticationProvider"
		class="com.iauto.wlink.core.auth.provider.ReserveAccountTicketAuthenticationProvider">
		<constructor-arg value="UhZr6vyeBu0KmlX9" />
		<constructor-arg value="UTbKkKQ335whZicI" />
	</bean>
	
	<bean id="sessionIdGenerator" class="com.iauto.wlink.core.session.UUIDSessionIdGenerator" />
	<bean id="sessionMessageCodec" class="com.iauto.wlink.core.message.codec.ProtoSessionMessageCodec" />
	<bean id="authMessageCodec" class="com.iauto.wlink.core.message.codec.ProtoTicketAuthMessageCodec" />

	<!-- 会话签名处理器 -->
	<bean id="sessionSignatureHandler"
		class="com.iauto.wlink.core.session.HMacSessionSignatureHandler">
		<constructor-arg value="${server.hmac.sha256.key}" />
	</bean>
</beans>